name: CI

on:
  push:
  pull_request:
  workflow_call:

env:
  PYTHON_VERSION: '3.12'

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  precommit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python ${{ env.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install pre-commit
        run: |
          python -m pip install --upgrade pip
          python -m pip install pre-commit virtualenv!=20.0.6
          pre-commit install
      - name: Run static code inspections
        run: pre-commit run --all-files

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python ${{ env.PYTHON_VERSION }}
        # deadsnakes python required due to https://github.com/JonathonReinhart/staticx/issues/188
        uses: deadsnakes/action@v3.2.0
        if: env.PYTHON_VERSION != '3.12'  # Python 3.12 is native on ubuntu-latest
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install uv
      - name: Build the binary
        run: |
          uv sync
          uv run make -C dist clean
      - name: Run pytest
        run: uv run pytest
