name: Publish Package

on:
  release:
    types:
      - published

env:
  PYTHON_VERSION: '3.12'

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  deploy:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python ${{ env.PYTHON_VERSION }}
        # deadsnakes python required due to https://github.com/JonathonReinhart/staticx/issues/188
        uses: deadsnakes/action@v3.2.0
        if: env.PYTHON_VERSION != '3.12'  # Python 3.12 is native on ubuntu-latest
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install uv
      - name: Build the binary
        run: |
          uv sync
          uv run make -C dist clean
          uv run make -C dist release
      - name: Upload to release
        run: |
          gh release upload ${{ github.ref_name }} "dist/sagemaker-shim-`uv run python -c "from importlib.metadata import version;print(version('sagemaker-shim'))"`-`uname -s`-`uname -i`.tar.gz" "dist/checksums.txt"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-for-pypi:
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Install Python ${{ env.PYTHON_VERSION }}
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Build the package
        run: uv build
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: python-dist
          path: dist/
          if-no-files-found: error
          retention-days: 1

  deploy-to-pypi:
    # IMPORTANT: use a separate job for this as each step has access to the tokens
    needs: build-for-pypi
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
    # IMPORTANT: this permission is mandatory for Trusted Publishing
      id-token: write
    steps:
    - name: Download build artifacts
      uses: actions/download-artifact@v4
      with:
        name: python-dist
        path: dist
    - name: Publish package distributions
      uses: pypa/gh-action-pypi-publish@release/v1
